body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
}

.display_image{
    width: 327px;
    height: 211px;
    border: 3px solid blue;
    background-position: center;
    background-size: cover;
}